* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color:beige;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}