* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, Courier ;
    background-color:hotpink
}

.container { 
    max-width: 400px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo {
    display: block;
    margin-bottom: 50px;
}