* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, Courier ;;
    background-color:skyblue;
}

.container { 
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 8px;
}

.campo {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    max-width: 100px;
    margin-top: 20px;
}